<?xml version="1.0"?>
<launch>
    <!--启动ekf融合-->
    <include file="$(find robot_pose_ekf)/launch/robot_pose_ekf.launch">
    </include>
    <!--启动tf转换后的轨迹打印-->
    <node pkg="fuxi_nav_fake" name="show_tracer" type="show_tracer">
     <param name="father_frame" type="string" value="odom_combined"/>
     </node>
     
    <node name="show_real_tracer" pkg="fuxi_nav_fake" type="show_real_tracer">
     <param name="father_frame" type="string" value="odom_combined"/>
     </node>
    <!--启动rviz-->
   <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find fuxi_nav_fake)/rviz/test.rviz"/>
</launch>
